/* Copyright 2021 The ChromiumOS Authors
   Use of this source code is governed by a BSD-style license that can be
   found in the LICENSE file. */

#waitAnimation {
  background-color:black;
  height:100%;
  left: 0px;
  opacity:0.6;
  position: absolute;
  top: 0px;
  width:100%;
  z-index:1000;
}

#waitSpinner {
  animation: rotation .6s infinite linear;
  border-bottom:6px solid rgba(180,174,239,.15);
  border-left:6px solid rgba(180,174,239,.15);
  border-radius:100%;
  border-right:6px solid rgba(180,174,239,.15);
  border-top:6px solid rgba(180,174,239,.8);
  height:60px;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  top: 50%;
  width:60px;
  -webkit-animation: rotation .6s infinite linear;
}

#setup {
  width: 50%;
  min-width: 460px;
  max-width: 500px;
  border-right: 1px solid black;
  display: inline-block;
}

#simpleSetup {
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 0;
}

#advancedSetup {
  width: 450px;
  padding: 5px;
  margin: 0;
}

#scannerInfo {
  display: none;
}

#scannerConfig {
  height: 250px;
  overflow: auto;
}

#results {
  display: inline-block;
  min-width: 250px;
  max-width: calc(100% - 520px);
  vertical-align: top;
  padding-left: 10px;
}

#imageContainer img {
  margin: 5px;
  border: 1px solid black;
  max-width: 200px;
  margin: 20px;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
